table {
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow-x: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

th {
    color: black;
    font-weight: bold;
}

th, td {
    padding: 8px; 
    text-align: center; 
  }

tr:hover {
    background-color: #ddd;
}