
.LoggedInStaffHighlight_LoggedInStaffHighlight {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(31,31,31,1.00);
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .vecteezy_healthylifestyledoodlehanddrawnsetcollectionswith_1 {
	position: absolute;
	left: 2px;
	top: 108px;
	width: 1438px;
	height: 1241px;
	object-fit: cover;
	overflow: hidden;
	background: linear-gradient(0deg, rgba(0,0,0,0.60), rgba(0,0,0,0.60));
	background-size: cover;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group3 {
	position: absolute;
	left: 73px;
	top: 290px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group3 .Rectangle5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(255,255,255,1.00);
	border-radius: 73px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group3 .Home {
	position: absolute;
	left: 74px;
	top: 23px;
	width: 97px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group4 {
	position: absolute;
	left: 362px;
	top: 290px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group4 .Rectangle5_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(0,255,133,1.00);
	border-radius: 73px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group4 .Members {
	position: absolute;
	left: 46px;
	top: 23px;
	width: 153px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group5 {
	position: absolute;
	left: 651px;
	top: 290px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group5 .Rectangle5_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(255,255,255,1.00);
	border-radius: 73px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group5 .Staff {
	position: absolute;
	left: 78px;
	top: 23px;
	width: 79px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group6 {
	position: absolute;
	left: 940px;
	top: 290px;
	width: 427px;
	height: 89px;
	border-radius: 73px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group6 .Rectangle5_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 427px;
	height: 89px;
	background: rgba(159,159,159,1.00);
	border-radius: 73px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Group6 .AccountSettings {
	position: absolute;
	left: 70px;
	top: 23px;
	width: 277px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 108px;
	background: rgba(0,0,0,1.00);
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .FITPAL {
	position: absolute;
	left: 32px;
	top: 28px;
	width: 222px;
	height: 56px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 48px;
	font-weight: 700;
	line-height: 56.25px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .CLASSESPERSONALTRAININGSHOPMEMBERBENEFITSTESTIMONIALS {
	position: absolute;
	left: 370px;
	top: 46px;
	width: 700px;
	height: 21px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Rectangle2 {
	position: absolute;
	left: 1134px;
	top: 14px;
	width: 140px;
	height: 79px;
	background: rgba(0,255,133,1.00);
	border-radius: 90px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .JOINGYM {
	position: absolute;
	left: 1161px;
	top: 44px;
	width: 85px;
	height: 21px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 {
	position: absolute;
	left: 0px;
	top: 1024px;
	width: 1440px;
	height: 1024px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 1024px;
	background: rgba(31,31,31,1.00);
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .Joinus {
	position: absolute;
	left: 58px;
	top: 62px;
	width: 209px;
	height: 75px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 64px;
	font-weight: 600;
	line-height: 75px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .LoremipsumdolorsitametconsecteturadipiscingelitPharetraurnasuspendissenonornarequamdolorestVolutpatviverraaliquamquamvelconguedolorgravidadignissimTellustemporleoveltristiqueSodalesvitaecursusidatutmassacommodoLoremipsumdolorsitametconsecteturadipiscingelitPharetraurnasuspendissenonornarequamdolorestVolutpatviverraaliquamquamvel {
	position: absolute;
	left: 58px;
	top: 169px;
	width: 696px;
	height: 560px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .Rectangle4_1 {
	position: absolute;
	left: 0px;
	top: 765px;
	width: 1440px;
	height: 259px;
	background: rgba(0,0,0,1.00);
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .AboutCareersMembershipGuidelinesContactUs {
	position: absolute;
	left: 58px;
	top: 877px;
	width: 779px;
	height: 35px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .image1 {
	position: absolute;
	left: 1329px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .image2 {
	position: absolute;
	left: 1265px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .image3 {
	position: absolute;
	left: 1200px;
	top: 863px;
	width: 65px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame1 .image4 {
	position: absolute;
	left: 1136px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .account_circle {
	position: absolute;
	left: 1307px;
	top: 11px;
	width: 85px;
	height: 85px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .account_circle .Vector {
	position: absolute;
	left: 7.083984375px;
	top: 7.083343505859375px;
	width: 83.33409926470588%;
	height: 83.33334530101104%;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .account_circle .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .WelcomeOwner {
	position: absolute;
	left: 441px;
	top: 157px;
	width: 560px;
	height: 84px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 72px;
	font-weight: 500;
	line-height: 84.375px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 {
	position: absolute;
	left: 84px;
	top: 440px;
	width: 1271px;
	height: 523px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Dashboard {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 341px;
	height: 84px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 72px;
	font-weight: 100;
	line-height: 84.375px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .StaffMembers {
	position: absolute;
	left: 947px;
	top: 67px;
	width: 257px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 400;
	line-height: 42.1875px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Rectangle8 {
	position: absolute;
	left: 0px;
	top: 132px;
	width: 691px;
	height: 77px;
	background: rgba(0,255,133,1.00);
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group7 {
	position: absolute;
	left: 0px;
	top: 132px;
	width: 691px;
	height: 77px;
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group7 .Rectangle10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 691px;
	height: 77px;
	background: rgba(0,255,133,1.00);
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group7 .Rectangle9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 318px;
	height: 77px;
	background: rgba(255,255,255,1.00);
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group7 .MemberStatus {
	position: absolute;
	left: 63px;
	top: 21px;
	width: 206px;
	height: 35px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 500;
	line-height: 35.15625px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group7 ._10350CheckedIn {
	position: absolute;
	left: 383px;
	top: 21px;
	width: 254px;
	height: 35px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 500;
	line-height: 35.15625px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group8 {
	position: absolute;
	left: 0px;
	top: 245px;
	width: 691px;
	height: 77px;
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group8 .Rectangle10_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 691px;
	height: 77px;
	background: rgba(0,255,133,1.00);
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group8 .Rectangle9_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 318px;
	height: 77px;
	background: rgba(255,255,255,1.00);
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group8 .StaffStatus {
	position: absolute;
	left: 79px;
	top: 21px;
	width: 160px;
	height: 35px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 500;
	line-height: 35.15625px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group8 ._710Present {
	position: absolute;
	left: 407px;
	top: 21px;
	width: 175px;
	height: 35px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 500;
	line-height: 35.15625px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group9 {
	position: absolute;
	left: 0px;
	top: 358px;
	width: 691px;
	height: 77px;
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group9 .Rectangle10_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 691px;
	height: 77px;
	background: rgba(0,255,133,1.00);
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group9 .Rectangle9_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 318px;
	height: 77px;
	background: rgba(255,255,255,1.00);
	border-radius: 197px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group9 .NewRegistrations {
	position: absolute;
	left: 36px;
	top: 21px;
	width: 246px;
	height: 35px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 500;
	line-height: 35.15625px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group9 ._5Monthly {
	position: absolute;
	left: 422px;
	top: 21px;
	width: 155px;
	height: 35px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 500;
	line-height: 35.15625px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 {
	position: absolute;
	left: 880px;
	top: 132px;
	width: 391px;
	height: 391px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 391px;
	height: 391px;
	background: rgba(255,119,119,1.00);
	border-radius: 50%;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 .Ellipse2 {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 351px;
	height: 351px;
	background: rgba(0,217,165,1.00);
	border-radius: 50%;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 .Ellipse3 {
	position: absolute;
	left: 38px;
	top: 38px;
	width: 316px;
	height: 316px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 .Ellipse4 {
	position: absolute;
	left: 227px;
	top: 30.76024627685547px;
	width: 163.326171875px;
	height: 199.64389038085938px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 .Rectangle11 {
	position: absolute;
	left: 243.810546875px;
	top: 36.9503173828125px;
	width: 58.08203125px;
	height: 64.71153259277344px;
	background: rgba(31,31,31,1.00);
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 .Rectangle12 {
	position: absolute;
	left: 333.490234375px;
	top: 159.1858367919922px;
	width: 37.626953125px;
	height: 58.75621032714844px;
	background: rgba(31,31,31,1.00);
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 ._710 {
	position: absolute;
	left: 128px;
	top: 169px;
	width: 135px;
	height: 84px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 72px;
	font-weight: 300;
	line-height: 84.375px;
}
.LoggedInStaffHighlight_LoggedInStaffHighlight .Frame2 .Group10 .Optimum {
	position: absolute;
	left: 137px;
	top: 139px;
	width: 118px;
	height: 28px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	line-height: 28.125px;
}