
.MemberSelectPushIn_MemberSelectPushIn {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .vecteezy_healthylifestyledoodlehanddrawnsetcollectionswith_1 {
	position: absolute;
	left: 2px;
	top: 108px;
	width: 1438px;
	height: 1241px;
	object-fit: cover;
	overflow: hidden;
	background: linear-gradient(0deg, rgba(0,0,0,0.60), rgba(0,0,0,0.60));
	background-size: cover;
}
.MemberSelectPushIn_MemberSelectPushIn .Group3 {
	position: absolute;
	left: 73px;
	top: 290px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group3 .Rectangle5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(0,255,133,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group3 .Home {
	position: absolute;
	left: 74px;
	top: 23px;
	width: 97px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group4 {
	position: absolute;
	left: 362px;
	top: 290px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group4 .Rectangle5_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(255,255,255,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group4 .Members {
	position: absolute;
	left: 46px;
	top: 23px;
	width: 153px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group5 {
	position: absolute;
	left: 651px;
	top: 290px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group5 .Rectangle5_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(0,255,133,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group5 .Staff {
	position: absolute;
	left: 78px;
	top: 23px;
	width: 79px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group6 {
	position: absolute;
	left: 940px;
	top: 290px;
	width: 427px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group6 .Rectangle5_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 427px;
	height: 89px;
	background: rgba(159,159,159,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .Group6 .AccountSettings {
	position: absolute;
	left: 70px;
	top: 23px;
	width: 277px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 108px;
	background: rgba(0,0,0,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .FITPAL {
	position: absolute;
	left: 32px;
	top: 28px;
	width: 222px;
	height: 56px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 48px;
	font-weight: 700;
	line-height: 56.25px;
}
.MemberSelectPushIn_MemberSelectPushIn .CLASSESPERSONALTRAININGSHOPMEMBERBENEFITSTESTIMONIALS {
	position: absolute;
	left: 370px;
	top: 46px;
	width: 700px;
	height: 21px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.MemberSelectPushIn_MemberSelectPushIn .Rectangle2 {
	position: absolute;
	left: 1134px;
	top: 14px;
	width: 140px;
	height: 79px;
	background: rgba(0,255,133,1.00);
	border-radius: 90px;
}
.MemberSelectPushIn_MemberSelectPushIn .JOINGYM {
	position: absolute;
	left: 1161px;
	top: 44px;
	width: 85px;
	height: 21px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 {
	position: absolute;
	left: 0px;
	top: 1024px;
	width: 1440px;
	height: 1024px;
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 1024px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .Joinus {
	position: absolute;
	left: 58px;
	top: 62px;
	width: 209px;
	height: 75px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 64px;
	font-weight: 600;
	line-height: 75px;
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .LoremipsumdolorsitametconsecteturadipiscingelitPharetraurnasuspendissenonornarequamdolorestVolutpatviverraaliquamquamvelconguedolorgravidadignissimTellustemporleoveltristiqueSodalesvitaecursusidatutmassacommodoLoremipsumdolorsitametconsecteturadipiscingelitPharetraurnasuspendissenonornarequamdolorestVolutpatviverraaliquamquamvel {
	position: absolute;
	left: 58px;
	top: 169px;
	width: 696px;
	height: 560px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .Rectangle4_1 {
	position: absolute;
	left: 0px;
	top: 765px;
	width: 1440px;
	height: 259px;
	background: rgba(0,0,0,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .AboutCareersMembershipGuidelinesContactUs {
	position: absolute;
	left: 58px;
	top: 877px;
	width: 779px;
	height: 35px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .image1 {
	position: absolute;
	left: 1329px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .image2 {
	position: absolute;
	left: 1265px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .image3 {
	position: absolute;
	left: 1200px;
	top: 863px;
	width: 65px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.MemberSelectPushIn_MemberSelectPushIn .Frame1 .image4 {
	position: absolute;
	left: 1136px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.MemberSelectPushIn_MemberSelectPushIn .account_circle {
	position: absolute;
	left: 1307px;
	top: 11px;
	width: 85px;
	height: 85px;
}
.MemberSelectPushIn_MemberSelectPushIn .account_circle .Vector {
	position: absolute;
	left: 7.083984375px;
	top: 7.083343505859375px;
	width: 83.33409926470588%;
	height: 83.33334530101104%;
}
.MemberSelectPushIn_MemberSelectPushIn .account_circle .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.MemberSelectPushIn_MemberSelectPushIn .WelcomeOwner {
	position: absolute;
	left: 441px;
	top: 157px;
	width: 560px;
	height: 84px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 72px;
	font-weight: 500;
	line-height: 84.375px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin {
	position: absolute;
	left: 2px;
	top: 407px;
	width: 1440px;
	height: 1024px;
	background: rgba(0,0,0,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .MemberSpace {
	position: absolute;
	left: 46px;
	top: 30px;
	width: 473px;
	height: 84px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 72px;
	font-weight: 100;
	line-height: 84.375px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group7 {
	position: absolute;
	left: 46px;
	top: 131px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group7 .Rectangle5_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(0,255,133,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group7 .Add {
	position: absolute;
	left: 90px;
	top: 24px;
	width: 65px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group4_1 {
	position: absolute;
	left: 46px;
	top: 247px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group4_1 .Rectangle5_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(0,255,133,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group4_1 .Remove {
	position: absolute;
	left: 57px;
	top: 24px;
	width: 131px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group5_1 {
	position: absolute;
	left: 46px;
	top: 365px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group5_1 .Rectangle5_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(0,255,133,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group5_1 .Modify {
	position: absolute;
	left: 67px;
	top: 24px;
	width: 112px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Rectangle13 {
	position: absolute;
	left: 322px;
	top: 131px;
	width: 1084px;
	height: 856px;
	background: rgba(57,57,57,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Rectangle15 {
	position: absolute;
	left: 343px;
	top: 264px;
	width: 1038px;
	height: 634px;
	background: rgba(113,113,113,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Rectangle14 {
	position: absolute;
	left: 905px;
	top: 57px;
	width: 501px;
	height: 74px;
	background: rgba(45,45,45,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .CurrentMembers {
	position: absolute;
	left: 1012px;
	top: 69px;
	width: 369px;
	height: 56px;
	color: rgba(255,122,0,1.00);
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	line-height: 56.25px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group8 {
	position: absolute;
	left: 343px;
	top: 153px;
	width: 487px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group8 .Rectangle5_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 487px;
	height: 89px;
	background: rgba(255,255,255,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group8 .SearchbyName {
	position: absolute;
	left: 28px;
	top: 25px;
	width: 265px;
	height: 42px;
	color: rgba(159,159,159,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group9 {
	position: absolute;
	left: 850px;
	top: 153px;
	width: 494px;
	height: 89px;
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group9 .Rectangle5_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 494px;
	height: 89px;
	background: rgba(255,255,255,1.00);
	border-radius: 73px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group9 .SearchbyMemberID {
	position: absolute;
	left: 31px;
	top: 25px;
	width: 355px;
	height: 43px;
	color: rgba(159,159,159,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .search {
	position: absolute;
	left: 746px;
	top: 169px;
	width: 56px;
	height: 56px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .search .Vector_2 {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 72.8759765625%;
	height: 72.87495476858956%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .search .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .search_1 {
	position: absolute;
	left: 1267px;
	top: 169px;
	width: 56px;
	height: 56px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .search_1 .Vector_4 {
	position: absolute;
	left: 7px;
	top: 7px;
	width: 72.8759765625%;
	height: 72.87495476858956%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .search_1 .Vector_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Rectangle16 {
	position: absolute;
	left: 355px;
	top: 274px;
	width: 1017px;
	height: 91px;
	background: rgba(196,196,196,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .AakashDev {
	position: absolute;
	left: 387px;
	top: 298px;
	width: 200px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Age24 {
	position: absolute;
	left: 720px;
	top: 299px;
	width: 125px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin ._123456 {
	position: absolute;
	left: 1024px;
	top: 299px;
	width: 146px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .AaronThomas {
	position: absolute;
	left: 387px;
	top: 925px;
	width: 246px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down {
	position: absolute;
	left: 1284px;
	top: 280px;
	width: 78px;
	height: 78px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down .Vector_6 {
	position: absolute;
	left: 19.5px;
	top: 27.917495727539062px;
	width: 50%;
	height: 30.875005477514023%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down .Vector_7 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_1 {
	position: absolute;
	left: 1294px;
	top: 907px;
	width: 78px;
	height: 78px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_1 .Vector_8 {
	position: absolute;
	left: 19.5px;
	top: 26px;
	width: 50%;
	height: 30.875025040064102%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_1 .Vector_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .MemberSince2019MembershipvalidityUntil2023TrainerYes6TotalCharges180005000AmountOwedNIL {
	position: absolute;
	left: 369px;
	top: 395px;
	width: 506px;
	height: 252px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 300;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group10 {
	position: absolute;
	left: 958px;
	top: 435px;
	width: 391px;
	height: 391px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group10 .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 391px;
	height: 391px;
	background: rgba(255,119,119,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group10 .Ellipse2 {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 351px;
	height: 351px;
	background: rgba(0,217,165,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group10 .Ellipse3 {
	position: absolute;
	left: 38px;
	top: 38px;
	width: 316px;
	height: 316px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group10 .Ellipse4 {
	position: absolute;
	left: 227px;
	top: 30.76025390625px;
	width: 163.326171875px;
	height: 199.6439208984375px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group10 .Rectangle11 {
	position: absolute;
	left: 243.810546875px;
	top: 36.9503173828125px;
	width: 58.08203125px;
	height: 64.71151733398438px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group10 .Rectangle12 {
	position: absolute;
	left: 333.490234375px;
	top: 159.18585205078125px;
	width: 37.626953125px;
	height: 58.75616455078125px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group10 .FitnessRegime {
	position: absolute;
	left: 74px;
	top: 175px;
	width: 244px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 300;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group11 {
	position: absolute;
	left: 372px;
	top: 705px;
	width: 167.212890625px;
	height: 167.21307373046875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group11 .Ellipse1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 167.212890625px;
	height: 167.21307373046875px;
	background: rgba(255,119,119,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group11 .Ellipse2_1 {
	position: absolute;
	left: 8.5546875px;
	top: 8.5531005859375px;
	width: 150.10546875px;
	height: 150.10687255859375px;
	background: rgba(0,217,165,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group11 .Ellipse3_1 {
	position: absolute;
	left: 16.232421875px;
	top: 15.82330322265625px;
	width: 135.140625px;
	height: 135.138916015625px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group11 .Ellipse4_1 {
	position: absolute;
	left: 14.197265625px;
	top: 4.2037353515625px;
	width: 81.4296875px;
	height: 68.9097900390625px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group11 .Rectangle11_1 {
	position: absolute;
	left: 17.33984375px;
	top: 42.8876953125px;
	width: 26.4921875px;
	height: 23.1580810546875px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group11 .Rectangle12_1 {
	position: absolute;
	left: 65.48046875px;
	top: 11.525634765625px;
	width: 24.51953125px;
	height: 16.38458251953125px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 {
	position: absolute;
	left: 560.66796875px;
	top: 693.4625854492188px;
	width: 348.548828125px;
	height: 181.75335693359375px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Ellipse1_2 {
	position: absolute;
	left: 0.03125px;
	top: 8.27838134765625px;
	width: 165.732421875px;
	height: 165.73211669921875px;
	background: rgba(255,119,119,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Ellipse2_2 {
	position: absolute;
	left: 8.5078125px;
	top: 16.7545166015625px;
	width: 148.77734375px;
	height: 148.77740478515625px;
	background: rgba(0,217,165,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Ellipse3_2 {
	position: absolute;
	left: 15.73046875px;
	top: 23.960693359375px;
	width: 133.94140625px;
	height: 133.94207763671875px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Ellipse4_2 {
	position: absolute;
	left: 3.203125px;
	top: 75.11053466796875px;
	width: 64.943359375px;
	height: 81.6146240234375px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Rectangle11_2 {
	position: absolute;
	left: 37.275390625px;
	top: 128.31011962890625px;
	width: 24.166015625px;
	height: 26.37689208984375px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Rectangle12_2 {
	position: absolute;
	left: 11.462890625px;
	top: 79.77239990234375px;
	width: 14.556640625px;
	height: 23.57879638671875px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Group11_1 {
	position: absolute;
	left: 179.341796875px;
	top: 12.545166015625px;
	width: 163.197265625px;
	height: 163.19757080078125px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Group11_1 .Ellipse1_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 163.197265625px;
	height: 163.19757080078125px;
	background: rgba(255,119,119,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Group11_1 .Ellipse2_3 {
	position: absolute;
	left: 8.345703125px;
	top: 8.34765625px;
	width: 146.501953125px;
	height: 146.50213623046875px;
	background: rgba(0,217,165,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Group11_1 .Ellipse3_3 {
	position: absolute;
	left: 15.44921875px;
	top: 15.860595703125px;
	width: 131.89453125px;
	height: 131.8936767578125px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Group11_1 .Ellipse4_3 {
	position: absolute;
	left: 68.33984375px;
	top: 93.40472412109375px;
	width: 81.548828125px;
	height: 67.74755859375px;
	background: rgba(31,31,31,1.00);
	border-radius: 50%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Group11_1 .Rectangle11_3 {
	position: absolute;
	left: 120.603515625px;
	top: 100.3663330078125px;
	width: 26.4765625px;
	height: 23.4852294921875px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Group12 .Group11_1 .Rectangle12_3 {
	position: absolute;
	left: 73.673828125px;
	top: 137.69989013671875px;
	width: 24.25px;
	height: 15.83709716796875px;
	background: rgba(31,31,31,1.00);
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Leg {
	position: absolute;
	left: 426px;
	top: 768px;
	width: 60px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 600;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Cardio {
	position: absolute;
	left: 769px;
	top: 768px;
	width: 106px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 600;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Core {
	position: absolute;
	left: 606px;
	top: 763px;
	width: 76px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 600;
	line-height: 42.1875px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .Rectangle17 {
	position: absolute;
	left: 1362px;
	top: 395px;
	width: 45px;
	height: 173px;
	background: rgba(196,196,196,1.00);
	border-radius: 82px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_2 {
	position: absolute;
	left: 1354px;
	top: 512px;
	width: 61px;
	height: 61px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_2 .Vector_10 {
	position: absolute;
	left: 15.25px;
	top: 21.832916259765625px;
	width: 50%;
	height: 30.874983990778688%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_2 .Vector_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_3 {
	position: absolute;
	left: 1354px;
	top: 394px;
	width: 61px;
	height: 61px;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_3 .Vector_12 {
	position: absolute;
	left: 15.25px;
	top: 20.333343505859375px;
	width: 50%;
	height: 30.874983990778688%;
}
.MemberSelectPushIn_MemberSelectPushIn .MemberDetWithin .keyboard_arrow_down_3 .Vector_13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}