
.StaffLoginHighlight_StaffLoginHighlight {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(31,31,31,1.00);
}
.StaffLoginHighlight_StaffLoginHighlight .vecteezy_healthylifestyledoodlehanddrawnsetcollectionswith_1 {
	position: absolute;
	left: 2px;
	top: 108px;
	width: 1438px;
	height: 1241px;
	object-fit: cover;
	overflow: hidden;
	background: linear-gradient(0deg, rgba(0,0,0,0.60), rgba(0,0,0,0.60));
	background-size: cover;
}
.StaffLoginHighlight_StaffLoginHighlight .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 108px;
	background: rgba(0,0,0,1.00);
}
.StaffLoginHighlight_StaffLoginHighlight .FITPAL {
	position: absolute;
	left: 32px;
	top: 28px;
	width: 222px;
	height: 56px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 48px;
	font-weight: 700;
	line-height: 56.25px;
}
.StaffLoginHighlight_StaffLoginHighlight .CLASSESPERSONALTRAININGSHOPMEMBERBENEFITSTESTIMONIALS {
	position: absolute;
	left: 370px;
	top: 46px;
	width: 700px;
	height: 21px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.StaffLoginHighlight_StaffLoginHighlight .Rectangle2 {
	position: absolute;
	left: 1134px;
	top: 14px;
	width: 140px;
	height: 79px;
	background: rgba(0,255,133,1.00);
	border-radius: 90px;
}
.StaffLoginHighlight_StaffLoginHighlight .JOINGYM {
	position: absolute;
	left: 1161px;
	top: 44px;
	width: 85px;
	height: 21px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.StaffLoginHighlight_StaffLoginHighlight .Rectangle3 {
	position: absolute;
	left: 1286px;
	top: 14px;
	width: 140px;
	height: 79px;
	background: rgba(255,255,255,1.00);
	border-radius: 90px;
	border: 3px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.StaffLoginHighlight_StaffLoginHighlight .LOGIN {
	position: absolute;
	left: 1330px;
	top: 44px;
	width: 52px;
	height: 21px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 {
	position: absolute;
	left: 0px;
	top: 1024px;
	width: 1440px;
	height: 1024px;
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .Rectangle4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 1024px;
	background: rgba(31,31,31,1.00);
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .Joinus {
	position: absolute;
	left: 58px;
	top: 62px;
	width: 209px;
	height: 75px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 64px;
	font-weight: 600;
	line-height: 75px;
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .LoremipsumdolorsitametconsecteturadipiscingelitPharetraurnasuspendissenonornarequamdolorestVolutpatviverraaliquamquamvelconguedolorgravidadignissimTellustemporleoveltristiqueSodalesvitaecursusidatutmassacommodoLoremipsumdolorsitametconsecteturadipiscingelitPharetraurnasuspendissenonornarequamdolorestVolutpatviverraaliquamquamvel {
	position: absolute;
	left: 58px;
	top: 169px;
	width: 696px;
	height: 560px;
	color: rgba(0,255,133,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .Rectangle4_1 {
	position: absolute;
	left: 0px;
	top: 765px;
	width: 1440px;
	height: 259px;
	background: rgba(0,0,0,1.00);
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .AboutCareersMembershipGuidelinesContactUs {
	position: absolute;
	left: 58px;
	top: 877px;
	width: 779px;
	height: 35px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 400;
	line-height: 35.15625px;
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .image1 {
	position: absolute;
	left: 1329px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .image2 {
	position: absolute;
	left: 1265px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .image3 {
	position: absolute;
	left: 1200px;
	top: 863px;
	width: 65px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.StaffLoginHighlight_StaffLoginHighlight .Frame1 .image4 {
	position: absolute;
	left: 1136px;
	top: 863px;
	width: 64px;
	height: 64px;
	object-fit: cover;
	overflow: hidden;
}
.StaffLoginHighlight_StaffLoginHighlight .StaffZone {
	position: absolute;
	left: 444px;
	top: 335px;
	width: 338px;
	height: 84px;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 72px;
	font-weight: 500;
	line-height: 84.375px;
}
.StaffLoginHighlight_StaffLoginHighlight .Group3 {
	position: absolute;
	left: 750px;
	top: 655px;
	width: 245px;
	height: 89px;
	border-radius: 73px;
}
.StaffLoginHighlight_StaffLoginHighlight .Group3 .Rectangle5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 245px;
	height: 89px;
	background: rgba(255,255,255,1.00);
	border-radius: 73px;
}
.StaffLoginHighlight_StaffLoginHighlight .Group3 .Login {
	position: absolute;
	left: 78px;
	top: 23px;
	width: 90px;
	height: 42px;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.StaffLoginHighlight_StaffLoginHighlight .Rectangle6 {
	position: absolute;
	left: 444px;
	top: 439px;
	width: 551px;
	height: 88px;
	background: rgba(255,255,255,1.00);
}
.StaffLoginHighlight_StaffLoginHighlight .Rectangle7 {
	position: absolute;
	left: 444px;
	top: 547px;
	width: 551px;
	height: 88px;
	background: rgba(255,255,255,1.00);
}
.StaffLoginHighlight_StaffLoginHighlight .OWNER1234 {
	position: absolute;
	left: 479px;
	top: 462px;
	width: 207px;
	height: 42px;
	color: rgba(147,147,147,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}
.StaffLoginHighlight_StaffLoginHighlight ._ {
	position: absolute;
	left: 479px;
	top: 570px;
	width: 208px;
	height: 42px;
	color: rgba(147,147,147,1.00);
	font-family: Roboto;
	font-size: 36px;
	font-weight: 500;
	line-height: 42.1875px;
}