packages:
  yum:
    gcc-c++: []
    make: []

commands:
  01_install_pm2:
    command: 'npm install pm2@latest -g'

  02_install_backend_modules:
    command: 'cd /var/app/current/backend && npm install'

  03_install_frontend_modules:
    command: 'cd /var/app/current/frontend && npm install'

  03_start_app:
    command: 'cd /var/app/current && pm2 start process.config.js'

option_settings:
  - option_name: NODE_ENV
    value: production